.textContain{
    margin-left: 5%;
    margin-top: 2%;
}

.ulContain{
   margin-left: 3.5%;
   margin-top: 2%;
   line-height: 1.8;
   font-size: 20px;
}


.moneydisputesLine{
    color: black;
    width: 240px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    margin-top: 5px;
}