.mainContainer{
    flex: 1;
}

.linksContainer{
    margin-left: 55%;
    width: 60%;
    float: left;
}

.home:active {
    color: red;
}

.home,.about,.services,.contact{
    margin-left: 50px;
    text-decoration: none;
}

.bars{
    display: none;
}

.icons{
    margin-left: 3%;
}

.iconsContainer{
    margin-left: 3%;
}

@media screen and (max-width:376px) {
    .bars {
        display: block;
    }

    .home,.services{
        display: none;
    }
}