*{
   margin: -0;
  /* -ms-overflow-style: none; */
}

/* ::-webkit-scrollbar {
  display: none;
} */

html,body {
  max-width: 100%;
  overflow-x:hidden;
}

/* a {
  text-decoration: none;
} */

a:hover {
  text-decoration: underline;
}



